html, body{
  margin:0;
  padding:0;
  height:100%;
}

#cover{
  position:fixed;
  inset:0;
  background:url("cookie-img.jpg") center/cover no-repeat;
}

#startBtn{
  position:absolute;
  left:20px;
  top:20px;
  width:120px;
  height:120px;

  opacity:0;
  background:transparent;
  border:none;

  cursor:pointer;
  z-index:9999;
}

.hidden{
  display:none;
}

#okiba{
  padding:50px;
  font-size:40px;
  color:white;
}
