html,body{
  margin:0;
  padding:0;
  height:100%;
  overflow:hidden;
}
body{
  background-image:url("cookie-img.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
